.proprio-hero{
    background-color: #F4F9FF;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proprio-hero-content{
    width: 98%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }   

 .proprio-hero-first-content{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.proprio-hero-second-content{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color: #0061E0;
    color: white;
}

.proprio-hero-content-itemsOne
{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 80%;
    background-color: #0061E0;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: solid 1px #0061E0;

}

.proprio-hero-content-itemsTwo{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 80%;
    color: #0061E0;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: solid 1px #0061E0;
}

@media screen and (max-width: 767px) {

  .proprio-hero {   
   /*  background-color: #F4F9FF; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .proprio-hero-content {
    width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: red; */
        padding: 3px;
}
.proprio-hero-first-content {
    display: flex;
        flex-direction: row;
        width: 60%;
        height: 30px;
        justify-content: space-between;
        align-items: center;
       /*  background-color: green; */
        font-size: 10px;
}

.proprio-hero-content-itemsOne {
   display: flex;
        flex-direction: row;
        width: 45%;
        height: 80%;
        background-color: #0061E0;
        color: white;
        justify-content: space-around;
        align-items: center;
        border-radius: 40px;
        border: solid 1px #0061E0;
        font-size: 10px;
}

.proprio-hero-content-itemsTwo {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 80%;
    color: #0061E0;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    border: solid 1px #0061E0;
}

.proprio-hero-second-content {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: #0061E0;
    color: white;
}
    .proprio-empty {
    width: 100%;
    height: 10px;
    background-color: white;
    }
}

