.proprio-service-card-second{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.proprio-service-card-content{
    width: 55%;
    height: 50%;
}

.proprio-service-card-content h6{
    color: #7C8893;
}

.proprio-service-card-content-button{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: #0061E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proprio-service-card-second-content{
    background-color: #0D263B;
    width: 99%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proprio-service-card-second-content-item{
   /*  background-color:red; */
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: row;

    
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.divider{
    width: 60%;
    border: solid 1px white;
    margin-top: 30px;
}

.proprio-service-card-second-content-copyrigh{
    width: 60%;
    height: 30px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: white;
}

.copyrigh{
    width: 70%;
    height: 30px;
   /*  background-color: pink; */
    display: flex;
    align-items: center;
    color: white;
}

.copyrigh-info{
    width: 30%;
    height: 30px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.proprio-service-card-second-content-item-1{
    width: 25%;
    height: 70%;
    /* background-color: olive; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.proprio-service-card-second-content-item-1-social{
     width: 40%;
     display: flex;
     flex-direction: row;
     /* background-color: yellow; */
     justify-content: space-between;
}

.proprio-service-card-second-content-item-2{
    width: 20%;
    height: 100%;
   /*  background-color: orange; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.proprio-service-card-second-content-item-3{
    width: 20%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.proprio-service-card-second-content-item-4{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.logo{
   width: 60%;
}

.logo-social{
    width: 21px;
    height: 21px;
}

@media screen and (max-width: 767px) {


  .proprio-service-card-second-content {
    background-color: #0D263B;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 11px;
    
}

    .proprio-service-card-second-content-item-1{
         display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .proprio-service-card-second-content-copyrigh {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        color: white;
    }

    .proprio-service-card-second-content-item {
       /*  background-color: red; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    /* align-items: center; */
}
.proprio-service-card-second-content-item-2 {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.proprio-service-card-second-content-item-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    margin-top: 10px;
}

.proprio-service-card-second-content-item-4 {
    width: 100%;
    margin-top: 10px;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}
    .copyrigh {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.copyrigh-info {
    width: 100%;
    display: flex;
    color: white;
}
}

