.proprio-service-card{
    background-color: #E9F3FF;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proprio-service-card-content{
    width: 55%;
    height: 50%;
    /* background-color: brown; */
}

.proprio-service-card-content h6{
    color: #7C8893;
}

.proprio-service-card-content-button{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: #0061E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
.proprio-service-card {
        background-color: #E9F3FF;
        width: 100%;
       /*  height: 150px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

.proprio-service-card-content-button {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: #0061E0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
}
