.proprio-header{
    background-color: #E9F3FF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.proprio-header-content{
    width: 98%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   /*  background-color: yellow; */
}



.proprio-header-first-content{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
   /*  background-color: green; */
}



.proprio-header-second-content{
    display: flex;
    flex-direction: row;
    width: 10%;
    justify-content: space-around;
    align-items: center;
   /*  background-color: thistle; */
}

.proprio-header-content-items{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    /* background-color: hotpink; */
    
}

.proprio-header-content-items-logo{
    /* width: 50%; */
   /*  background-color: navy; */
  }

  .proprio-header-content-items a {
    color: #7C8893;
    text-decoration: none;
  }



.avatar-container {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  overflow: hidden; 
}

.avatar-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.proprio-header-content-items > div,
 .proprio-header-second-content h5{
    color:#7C8893;
    font-size: 16px;
    font-weight: bold;
}

.proprio-header-second-content > :first-child{
    color: #7C8893;
    font-weight: bold;
}

@media screen and (max-width: 767px) {

  .proprio-header{
   width: 100%;
   height: auto;
   background-color: #E9F3FF;
  }
  .proprio-header-content{
    width: 98%;
        display: flex;
        flex-direction: column;
}

 .proprio-header-first-content {
        width: 100%;
       /*  background-color: pink; */
        display: flex;
        flex-direction: column;
}

.proprio-header-content-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .proprio-header-content-items > div {
         width: 100%;
    }

.proprio-header-second-content {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

  
}









