.proprio-content{
    /* background-color: #bd1e1e; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.proprio-content-left-side{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
   /*  background-color: yellow; */
 }

 .proprio-content-left-side-card{
    width: 97%;
   /*  background-color: aqua; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
 }

 .proprio-content-left-side-card-item{
    width: 30%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 .proprio-content-left-side-card-item02{
    width: 100%;
    height: 100px;
    background-color: red;
 }

 .proprio-content-right-side{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 20px 20px 20px;
    border-left: solid 1px #7C8893;
   /*  background-color: red; */
    
 }

  .proprio-content-right-side > div{
   margin-top: 10px;
 }

 .proprio-content-right-side-head,
 .proprio-content-right-side-payement{
    width: 100%;
    height: 3%;
    color: #7C8893;
    display: flex;
    justify-content: space-between;
   
 }


 .proprio-content-right-side-avatarContent{
     width: 100%;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .avatar-contenu-container {
  width: 100px; 
  height: 100px; 
  border-radius: 70%;
  overflow: hidden; 
  position: relative;
}

.avatar-contenu-image {
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.icon-overlay {
    position: absolute;
    width: 40px; 
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    background-color: #FF6633;
    transform: translateX(130%);
}

.title-avatar{
    width: 100%; 
    height:auto;
    text-align: center;
   
   /*  background-color: blue; */
}

.icon-rond{
    width: 15px; 
    height:15px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    color: #FF6633;
}


.card-with-arrow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image{
    width: 15%;
    height: 30px;
    background-color: bisque;
}

.card-images{
    width: 20%;
}

.card-content{
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20px;
}

.arrow-icon{
     width: 20%;
     /* background-color: pink; */
     display: flex;
     justify-content: center;
     align-items: center;
}

.arrow-icon-rounded{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
}

.avatar-rounded{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-weight: bold;
}

.proprio-content-right-side-avatar-group{
    width: 100%;
    height: auto;
   /*  background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.my-table{
    padding: 20px;
}

.proprio-content-left-side-card-tabs{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.proprio-content-left-side-card-table{
    width: 100%;
    height: auto;
    overflow-x: scroll;
}



@media screen and (max-width: 767px) {

  .proprio-content {
       /*  background-color: #bd1e1e; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

  .proprio-content-left-side {
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
   /*  background-color: yellow; */
}

.proprio-content-left-side-card-tabs{
   
    width: 100%;
        overflow: scroll;
       /*  background-color: red; */
   
}

.proprio-content-left-side-card p{
    text-align: center;
}

.proprio-content-right-side {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 20px 20px 20px;
    border-left: solid 1px #7C8893;
   /*  background-color: red; */
}
.proprio-content-left-side-card-item {
    width: 30%;
    height: 100px;
    font-size: 10px;
    /* height: 300px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.proprio-content-left-side-card {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    



    
  
}

