.proprio-footer{
    background-color: #0061E0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.proprio-footer-content{
    width: 60%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

    .proprio-footer-content-item01 {
        width: 100%;
        height: auto;
        /* background-color: red; */
        font-size: 10px;
    }

.proprio-footer-content-item02 {
        width: 100%;
        height: auto;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

.search-footer {
  width: 100%;
  height: 700px;
}

.ant-btn{
    background-color: #0D263B;
    
}

.ant-btn span{
    font-size: 11px;
}

@media screen and (max-width: 767px) {

    .proprio-footer {
   /*  background-color: #0061E0; */
    width: 100%;
    /* height: 146px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

  .proprio-footer-content {
        width: 100%;
        height: auto;
       /*  background-color: yellow; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

.proprio-footer-content-item01 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.proprio-footer-content-item01 {
        width: 100%;
        height: auto;
       /*  background-color: red; */
    }

    .proprio-footer-content-item02 {
    width: 100%;
    height: auto;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

  
}






